:root {
    --main-text-color: #757575;
    --titles-color: #212121;
    --accent-color: #2196F3;
    --footer-background: #2196F3;
    --section-background: #F5F4FA;
    --white-text-color: #ffffff;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.header>.container {
    background-color: var(--white-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font-family: 'Roboto';
}

li {
    display: inline-block;
}

.main-link {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
    padding: 25px;
}

.ingredient {
    color: var(--titles-color);

}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3px;
    padding: 15px;
}

.nav-link:hover {
    color: var(--accent-color);
}

.list-item {
    display: inline-block;

}

.list-link-email {
    display: flex;
    justify-content: end;
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 30px;
    align-items: center;
}

.list-link-email::before {
    content: "";
    display: block;
    height: 12px;
    width: 16px;
    background-image: url(./images/envelope\(hover\).png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;

}

.list-link-number {
    display: flex;
    justify-content: end;
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding: 30px;
}

.list-link-number::before {
    content: "";
    display: block;
    width: 16px;
    background-image: url(./images/smartphone.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.list-link-number:hover {
    color: var(--accent-color);
}

.list-link-email:hover {
    color: var(--accent-color);
}

.section-solution {
    background-color: rgba(18, 24, 77, 0.64);
    background-image: linear-gradient(0deg, rgba(88, 204, 72, 0.14618347338935578) 0%, rgba(227, 222, 61, 0.0985644257703081) 100%), url(./images/Img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 160px;
    margin: 0 auto;
}

.solutions-title {
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 200px;
    text-align: center;
    align-items: center;

}

.solutions-button {
    display: block;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    width: 250px;
    height: 60px;
    padding: 20px 20px;
    font-size: 16px;
    font-family: 'Roboto';
    margin: 30px auto;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.solution-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 45px;
}

.solution-item {
    flex-basis: 270px;

}

.detail-title-one {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.detail-title-one::before {
    content: "";
    display: block;
    background-image: url(./images/antenna1.png);
    background-position: center;
    width: 250px;
    height: 120px;
    background-color: var(--section-background);
    background-size: 70px;
    background-repeat: no-repeat;
}

.detail-title-two {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.detail-title-two::before {
    content: "";
    display: block;
    background-image: url(./images/clock1.png);
    background-position: center;
    width: 250px;
    height: 120px;
    background-color: var(--section-background);
    background-size: 70px;
    background-repeat: no-repeat;
}

.detail-title-three {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.detail-title-three::before {
    content: "";
    display: block;
    background-image: url(./images/diagram1.png);
    background-position: center;
    width: 250px;
    height: 120px;
    background-color: var(--section-background);
    background-size: 70px;
    background-repeat: no-repeat;
}

.detail-title-four {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.detail-title-four::before {
    content: "";
    display: block;
    background-image: url(./images/astronaut1.png);
    background-position: center;
    width: 250px;
    height: 120px;
    background-color: var(--section-background);
    background-size: 70px;
    background-repeat: no-repeat;
}

.detail-paragraph {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.title-doing {
    color: var(--titles-color);
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 95px;
}

.doing-image {
    display: flex;
    justify-content: center;
    width: 370px;
    padding-left: 30px;
}

.team-section {
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--section-background);
    background-size: contain;
}

.team-list {
    display: flex;
    justify-content: space-around;
}

.team-item {
    background-color: var(--white-text-color);
    background-size: cover;
    height: 428px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 2px 5px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 5px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 11px 0px rgba(0, 0, 0, 0.75);
}

.team-title {
    text-align: center;
    padding-bottom: 50px;
}

.member-title {
    text-align: center;
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-paragraph {
    color: var(--main-text-color);
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
}

.team-image {
    width: 270px;
}

.link-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}

.icon {
    padding: 7px;
    background-color: var(--white-text-color);
}

.icon:hover {
    border-radius: 50%;
    background-color: var(--accent-color);
}

.section-customer {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customer-title {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}

.customer-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.customer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 2px solid var(--main-text-color);
    border-radius: 3px;
}

.gallery-list {
    display: flex;
    justify-content: center;
    gap: 11px;
}

.gallery-item-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 38px;
    background-color: var(--section-background);
    border-radius: 5px;
}

.gallery-item-all:hover {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--section-background);
    background-size: cover;
    width: 120px;
    height: 38px;
}

.gallery-item:hover {
    background-color: var(--accent-color);
}

.gallery-link {
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.gallery-link:hover {
    color: var(--white-text-color);
}

.gallery-title {
    color: var(--titles-color);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 24px;
}

.gallery-paragraph {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 24px;
}

.second-gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.second-gallery-item {
    flex-basis: calc((100% - 60px) /3);
    border: 2px solid #EEEE;

}

.second-gallery-item:hover {
    box-shadow: -2px 8px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 8px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 8px 11px 0px rgba(0, 0, 0, 0.75);
}

.footer {
    background-color: var(--titles-color);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.footer>.container {
    height: 252px;
    padding: 60px 0;
}

.main-footer-link {
    color: var(--white-text-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
    text-decoration: none;
}

.footer-ingredient {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer-item {
    padding: 5px;
}

.footer-container {
    display: flex;
}

.footer-container .contact-list {
    align-items: center;
}

.contact-list {
    margin-left: 270px;
}

.contact-item {
    padding: 10px;
    background-color: var(--main-text-color);
    border-radius: 50%;
}

.contact-title {
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.contact-image {
    display: flex;
    align-items: center;
}

.contact-item:hover {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.footer-link {
    color: var(--main-text-color);
}

.footer-link:hover {
    color: var(--accent-color);
}

/*.email-form{
    color: var(--white-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}*/